.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
}
  
.carousel-inner > .item {
	height: 400px;
}
  
.container-shaded {
	background-color: rgba(1, 1, 1, .5);
	border-radius: 5px;
	padding: 20px;
}
  
.container-margined {
	width: 100%;
	margin: auto;
	margin-top: 30px;
}

.carousel-indicators li {
	border-color: black;
}

.carousel-indicators > .active {
	background-color: black;
}